img{
    width: 100%;
    max-width: 200px;
    object-fit: cover;
}

.aspect-ratio-21x9{ 
    aspect-ratio: 21/9;
}	

.aspect-ratio-16x9{ 
    aspect-ratio: 16/9;
}

.aspect-ratio-4x3{ 
    aspect-ratio: 4/3;
}

.aspect-ratio-1x1{ 
    aspect-ratio: 1/1;
}